.favoritesBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.favorite-title{
    padding-bottom: 10px;
    color: white;
    position: absolute;
    top: 0;
    left: 5vh;
    border-bottom: 1px solid white;
}

.favorite-list{
    margin-top: 8vh;
    color: white;
}

.fav{
    margin-bottom: 5vh;
}